/*
  Светлая тема.
  Срабатывает при принудительном выборе «День».
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;

  --bg-image: url("../images/cover-image-light.png");
}

:root.theme-light .header__decorative-text {
  display: none;
}
/*
  Автоматическая тема.
  При светлой системной теме используются
  светлые значения.
*/

@media (prefers-color-scheme: light) {
  :root.theme-auto .header__decorative-text {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    

    --bg-image: url("../images/cover-image-light.png");
  }
}