:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;

  --bg-image: url("../images/cover-image-dark.png");

  --main-font: 'IBM Plex Mono', 'Arial', sans-serif;
  --main-font-size: 18px;
  --main-line-height: 1.3;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;

    --bg-image: url("../images/cover-image-light.png");
  }
}